.contactus-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem 0;
  width: 90vw;
}
.contactus {
  margin-top: 1rem;
}
.contact-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem;
}
/* .contact-container h2,
.contact-container h3 {
  flex-flow: row;
  align-items: center;
} */

/* .contactlist-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.contactlist-items h4 {
  margin: 0;
  font-size: 18px;
}
.contactlist-items p {
  margin-left: 40px;
}
.googlemap {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
  }
  .googlemap {
    width: 600px;
    height: 500px;
  }
}
