.currentUser {
  flex: 4;
  padding: 20px;
}
.currentUserTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentUserContainer {
  display: flex;
  margin-top: 20px;
}
.currentUserShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
}
.currentUserUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.35);
  margin-left: 20px;
}
.currentUserShowTop {
  display: flex;
  align-items: center;
}
.currentUserShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.currentUserShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.currentUserShowUsername {
  font-weight: 600;
}
.currentUserShowBottom {
  margin-top: 20px;
}
.currentUserShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}
.currentUserShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}
.currentUserShowIcon {
  font-size: 16px !important;
}
.currentUserShowInfoTitle{
    margin-left: 10px;
}
.currentUserUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.currentUserUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.currentUserTitle{
    font-size: 24px;
    font-weight: 600;
}
.currentUserUpdateItem{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.currentUserUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.currentUserUpdateInput{
    border: none;
    width: 250px;
    border-bottom: 1px solid gray;
    height: 30px;
}
.currentUserUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.currentUserUpdateUpload{
    display: flex;
    align-items: center;
}
.currentUserUpdateIcon{
    cursor: pointer;
}
.currentUserUpdateButton{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}