/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #2196f3;
  --clr-pri-hover: #4dabf5;
  --clr-pri-light: #90caf9;
  --clr-pri-lightest: #bbdefb;
  --clr-pri-dark: #1769aa;
  --clr-pri-darkest: #0d47a1;
  --clr-blue-bg: #e3f2fd;
  --clr-grey-bg: #f9f9f9;
  --clr-grey: #9e9e9e;
  --clr-grey-light: #e2e2e2;
  --clr-grey-dark: #424242;
  --clr-white: #fff;
  --clr-red: #f44336;
  --clr-red-dark: #b71c1c;
  --clr-red-light: #e57373;
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.3rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  --columns: 3;
  --yellow: #fff59d;
  --pink: #f48fb1;
  --blue: #81d4fa;
  --green: #a5d6a7;
  --purple: #d4c0f8;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-grey-bg);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
header {
  padding-bottom: 5px;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header h2 {
  color: var(--clr-white);
}
.nav-bar {
  display: none;
}
.navlink:hover {
  color: var(--clr-pri-dark);
}
.cart-toggle {
  display: none;
}
.search-center {
  display: flex;
  justify-content: unset;
  margin: 0px 25px 5px;
  width: 99%;
  height: 45px;
}
.search-bar {
  padding: 5px;
  width: 75%;
  height: 100%;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey);
  box-sizing: border-box;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-bar:focus,
.search-bar:hover {
  outline: none;
  background: var(--clr-grey-bg);
}
.search-btn {
  height: 100%;
  padding: 0px 10px;
  font-size: 16px;
  border: 1px solid var(--clr-pri-dark);
  cursor: pointer;
  display: flex;
  color: var(--clr-white);
  font-weight: bold;
  align-items: center;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: var(--clr-pri-dark);
  transition: var(--transition);
}
.search-btn:hover {
  background-color: var(--clr-pri-hover);
  border: 1px solid var(--clr-pri-hover);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-contents {
  display: none;
  position: absolute;
  padding-top: 6px;
  background-color: var(--clr-grey-bg);
  width: 130px;
  height: fit-content;
  box-shadow: var(--box-shadow);
  z-index: 1;
}
.dropdown-contents a {
  padding: 5px 10px;
  display: block;
  color: var(--clr-black);
  font-size: 18px;
  transition: var(--transition);
}
.dropdown-contents a:hover {
  color: var(--clr-primary);
  background-color: var(--clr-grey-light);
}
.dropdown:hover .dropdown-contents {
  display: block;
}
/* 
==========
Sidebar
==========
 */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0rem;
  color: var(--clr-pri-darkest);
}
.links a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-pri-dark);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.links a:hover {
  background: var(--clr-blue-bg);
  color: var(--clr-pri-darkest);
}
.links span {
  margin: 0 2rem;
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
}
.social-icons a:hover {
  color: hsl(205, 86%, 17%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 2;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--light-shadow);
  transition: all 0.3s linear;
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 700px) {
  .nav-toggle {
    display: none;
  }
  /* .nav-container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--clr-primary);
  } */
  .nav-bar {
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: var(--clr-primary); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 1rem;
  }
  .navlink {
    color: var(--clr-primary);
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    transition: var(--transition);
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .cart-toggle {
    display: inline;
  }
  .search-center {
    width: 700px;
  }
}
