.about-container {
  /* margin-left: 100px;
    padding: 30px;
    margin-right: 100px; */
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
  padding: 1rem 0;
}
.aboutus {
  margin-top: 1rem;
}
.aboutus-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem;
}
.about-header {
  margin: 10px;
}
.about-content {
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  .about-flex {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
  }
  .about-content {
    margin: 0;
    max-width: 500px;
  }
}
