.about-container {
    margin-left: 100px;
    padding: 30px;
    margin-right: 100px;
}

.about-container h1 {
    font-size: 35px;
}

.about-header {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.about-content {
    font-size: 20px;
    padding-top: 10px;
}